typechain
**/local.db

# directories
cache
cache_hardhat
artifacts
types
coverage
node_modules
out
dist

# IDE
.idea
.vscode

# Package managers
.yarn

# files
*.env
*.env.testnet
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

